@page
@using GiveMeCityInfo.Models;
@using Microsoft.AspNetCore.Http.Extensions
@model GiveMeCityInfo.Pages.CitiesModel
@{
    int pageNumber;

    if (!int.TryParse(HttpContext.Request.Query["PageNumber"], out pageNumber))
    {
        pageNumber = 1;
    }
}

<div class="row">
    @if (Model?.Cities?.Cities != null)
    {
        <div class="col-md-3">
            <form method="get">
                <!-- Continents -->
            <div class="continents text-center form-group">
                <!-- JavaScript only functionality-->
            </div>

            <!-- Countries -->
            <div class="countries form-group">
                    <select multiple class="form-control countries-select" name="SelectedCountries" id="country">
                        @if (Model?.SelectedCountries?.Any() ?? false)
                        {
                            foreach (var country in Model?.Countries?.Where(c => Model.SelectedCountries.Contains(c.country)) ?? new List<Country>())
                            {
                                <option id="country" data-continent="@country.continent" selected="selected" value="@country.country">@country.country</option>
                            }
                        }
                        @if (Model?.Countries?.Any() ?? false)
                        {
                            @foreach (var country in Model?.Countries?.Where(c => !Model.SelectedCountries.Contains(c.country)) ?? new List<Country>())
                            {
                                <option id="country" data-continent="@country.continent" value="@country.country">@country.country</option>
                            }
                        }
                    </select>
                </div>

                <button class="btn btn-primary mt-2" type="submit">Search</button>
            </form>
        </div>

        <div class="mt-2 col-md-9">
            <div class="card-group city-items">
                @{
                    var cities = Model?.Cities?.Cities;

                    if (HttpContext.Request.Query.ContainsKey("SelectedCountries"))
                    {
                        cities = cities?.Where(c => HttpContext.Request.Query["SelectedCountries"].Any(selectedCountry => selectedCountry == c.country)).ToList();
                    }

                    foreach (var city in cities ?? new List<City>())
                    {
                        <div class="text-center card border-0" data-country="@city.country">
                            <img loading="lazy" class="card__img" src="@city.imageUrl" alt="@city.imageAltText">
                            <div class="card-img-overlay">
                                <h5 class="card-title card__text text-white">@city?.name</h5>
                                <a href="/city?cityId=@city?.id" class="stretched-link"></a>
                            </div>
                        </div>
                    }
                }
            </div>

            <div class="pagination-buttons-container mt-5 text-center">
                <nav aria-label="Pagination">
                    @for (int i = 1; i <= Model?.Cities?.Pagination?.TotalPageCount; i++)
                    {
                        // Encode query
                        var query = new QueryBuilder();

                        foreach (var country in Model?.SelectedCountries ?? new List<string>())
                        {
                            query.Add("SelectedCountries", country);
                        }
                        query.Add("PageNumber", i.ToString());

                        <ul class="d-inline-flex m-1 pagination">
                            <li class="page-item">
                                <a href="@query" class="page-link @(i == pageNumber ? "active" : string.Empty)">
                                    @i
                                </a>
                            </li>
                        </ul>
                    }
                </nav>
            </div>
        </div>
    }
    else
    {
        <partial name="/Pages/Partials/_ServiceUnavailable.cshtml" />
    }
</div>

<script src="js/cities.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/Components/Cities/_cities.min.css" />